:root{
    --background : #070F2B;
    --light-dark : #1B1A55;
    --light : #535C91;
    --font-color: #eaeaf8;
}
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    background-color: var(--background);
    color : var(--font-color);
}

.heading{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    margin: auto;
    padding-top: 2.5rem;
    gap: 3rem;
}

input, button{
    font-size: 1.5rem;
    padding: 0.8rem 0.8rem;
    border: 1px solid white;
    border-radius: 15px;
    margin-right: 1rem;
}
button:hover{
    cursor: pointer;
    background-color: var(--light);
    transition: ease 1s;
}