*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: rgb(234, 200, 255);
}
.main{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
}
.win{
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8718a;
    font-size: 40px;
    position: absolute;
    top: 5%;
    color: white;
    visibility:hidden;
}
h2{
    margin-top: 2rem;
    color: white;
    font-size: 2rem;
    text-shadow: #ee2146 2px 0 10px;;
}
.btnboxes{
    display: inline-block;
    width: 28%;
    background-color: rgb(188, 188, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    gap: 1.2rem;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius:1px ;
}
.box{
    width: 6rem;
    height: 6rem;
    cursor: pointer;
    background-color: white;
    font-size: 2.5rem;
    color: #f3607a;
    box-shadow: 2px 2px 8px rgb(119, 119, 251);
    border: 0px;
    border-radius: 12px;
}
#reset{
    background-color: #f3607a;
    border: 2px solid white;
    border-radius: 12px;
    padding: 14px 20px;
    font-size: 24px;
    cursor: pointer;
}